.note-title.m{
    color: #33B831;
    margin-left: 15%;
}
.add-icon.m{
    margin: 0;
    margin-left: 5%;
    position: absolute;
    top: 46px;
}
.m-container{
    display: flex;
    flex-direction: column;
}
.note-container.m{
    margin-left: 0;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
.upload-c{
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    width: 260px;
    border-radius: 30px;
    height: 380px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}
.upload-c.pre{
    padding: 6px 0;
    margin-top: 20px;
    height: auto;
}
.upload-c img{
    position: absolute;
}
.upload-input::-webkit-file-upload-button {
    visibility: hidden;
  }
.upload-input::before{
    content: 'Click to upload';
}
.upload-input{
    width: 110px;
    padding: 40px 70px 0;
    height: inherit;
    border-radius: 20px;
    border: 2.5px solid rgba(0,0,0,0.2);
    border-style: dashed;
    background-color: inherit;
}
.upload-c:hover > #upload-input{
    background-color: #bfbfbf;
    cursor: pointer;
}
.upload-c:hover {
    background-color: #bfbfbf;
    cursor: pointer;
}
.addmood-c form{
    background-color: white;
    padding: 50px 40px 40px;
    width: 40%;
    min-width: 340px;
    border-radius: 30px;
    box-shadow: 2px 2px 16px rgb(0 0 0 / 30%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
}
.addmood-c{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.exit{
    position: absolute;
    right: 30px;
    top: 30px;
}
.exit:hover, .add:hover, .delete-m:hover{
    cursor: pointer;
}
.display{
    display: flex;
}
.m-grid{
    column-count: 4;
    margin: 40px 10%;
}
.m-grid img{
    width: 100%;
    border-radius: 20px;
}
.m-add-buttons{
    margin-top: 10px;
}
.delete-m{
    width: 30px !important;
    position: absolute;
    right: 12px;
    background-color: rgba(255,255,255,0.8);
    top: 12px;
    visibility: hidden;
}
.images-c{
    position: relative;
    margin-bottom: 10px;
}
.images-c:hover > .delete-m{
    visibility: visible;
}
.preview-upload{
    height: 420px;
    width: auto !important;
    border-radius: 20px;
    background-color: inherit;
    position: relative;
}
.form-preview{
    height: 22px;
    border: none;
    padding: 0;
    font-size: 14px;
}
.arrow-pre{    
    right: 40px;
    width: 22px;
}
.arrow-upload{
    right: auto;
    width: 26px;
}